@import '../../styles/variables';

.carousel-overlay{
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
}
.carousel-h3{
  position: absolute;
  top: -1000%;
  left: -10%;
}
.carousel-p{
  position: absolute;
  top: -800%;
  left: -10%;
}

