@import '../../styles/variables';
@import '../../styles/carousel';

.Carousel-Item{
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
}
