// // ** MAIN CONTENT SCSS
// // .MultiCarousel {
// //   float: left;
// //   overflow: hidden;
// //   padding: 15px;
// //   width: 100%;
// //   position: relative;
// // }
// // .MultiCarousel .MultiCarousel-inner {
// //   display: flex;
// //   justify-content: space-between;
// //   transition: 1s ease all;
// //   float: left;
// // }
// // .MultiCarousel .MultiCarousel-inner .item {
// //   float: left;
// //   margin-right: 50px;
// // }
// // .MultiCarousel .MultiCarousel-inner .item > div {
// //   text-align: center;
// //   padding: 10px;
// //   margin: 10px;
// //   background: #f1f1f1;
// //   color: #666;
// // }
// // .MultiCarousel .leftLst,
// // .MultiCarousel .rightLst {
// //   position: absolute;
// //   border-radius: 50%;
// //   top: calc(50% - 20px);
// // }
// // .MultiCarousel .leftLst {
// //   left: 0;
// // }
// // .MultiCarousel .rightLst {
// //   right: 0;
// // }

// // .MultiCarousel .leftLst.over,
// // .MultiCarousel .rightLst.over {
// //   pointer-events: none;
// //   background: #ccc;
// // }
// // #owl-demo .item{
// //   background: #3fbf79;
// //   padding: 30px 0px;
// //   margin: 10px;
// //   color: #FFF;
// //   -webkit-border-radius: 3px;
// //   -moz-border-radius: 3px;
// //   border-radius: 3px;
// //   text-align: center;
// // }
// // .customNavigation{
// //   text-align: center;
// // }
// // .customNavigation a{
// //   -webkit-user-select: none;
// //   -khtml-user-select: none;
// //   -moz-user-select: none;
// //   -ms-user-select: none;
// //   user-select: none;
// //   -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
// // }
// .main-content-gallery img{
//     margin: 40px
//   }
   
//   .main-nav-top-section .main-nav-search-form__button {
//     height: 40px;
//     left: 151px;
//     top: -7px;
//     width: 80px;
// }
// @media only screen and (min-width: 900px)
// <style>
// .main-nav-top-section .main-nav-search-form__input {
//     margin-top: -10px;
//     padding: 12px;
//     width: 228px;
// }
// .main-nav-bottom-section__button svg {
//   height: 35px;
//   margin-right: -56px;
  
//   @media only screen and (min-width: 900px)
//   <style>
//   .main-nav-top-section .main-nav-search-form__button {
//       height: 48px;
//       left: 151px;
//       top: -10px;
//       width: 78px;
{/* <div className="main-content-container-item">
                        <img src="https://image.tmdb.org/t/p/w154/1yeVJox3rjo2jBKrrihIMj7uoS9.jpg" style={{ width: "127px", height: "190px" }} />
                        <h3 className="main-content-container-item__item-title">Dilwale Dulhania Le Jayenge</h3>
                        <p className="main-content-container-item__genres">Comedy / Drama</p>
                        <p className="main-content-container-item__rating">{star} 8.9 </p>
                    </div>
                    <div className="main-content-container-item">
                        <img src="https://image.tmdb.org/t/p/w154/1yeVJox3rjo2jBKrrihIMj7uoS9.jpg" style={{ width: "127px", height: "190px" }} />
                        <h3 className="main-content-container-item__item-title">Dilwale Dulhania Le Jayenge</h3>
                        <p className="main-content-container-item__genres">Comedy / Drama</p>
                        <p className="main-content-container-item__rating">{star} 8.9 </p>
                    </div>
                    <div className="main-content-container-item">
                        <img src="https://image.tmdb.org/t/p/w154/1yeVJox3rjo2jBKrrihIMj7uoS9.jpg" style={{ width: "127px", height: "190px" }} />
                        <h3 className="main-content-container-item__item-title">Dilwale Dulhania Le Jayenge</h3>
                        <p className="main-content-container-item__genres">Comedy / Drama</p>
                        <p className="main-content-container-item__rating">{star} 8.9 </p>
                    </div>
                    <div className="main-content-container-item">
                        <img src="https://image.tmdb.org/t/p/w154/1yeVJox3rjo2jBKrrihIMj7uoS9.jpg" style={{ width: "127px", height: "190px" }} />
                        <h3 className="main-content-container-item__item-title">Dilwale Dulhania Le Jayenge</h3>
                        <p className="main-content-container-item__genres">Comedy / Drama</p>
                        <p className="main-content-container-item__rating">{star} 8.9 </p>
                    </div>
                    <div className="main-content-container-item">
                        <img src="https://image.tmdb.org/t/p/w154/1yeVJox3rjo2jBKrrihIMj7uoS9.jpg" style={{ width: "127px", height: "190px" }} />
                        <h3 className="main-content-container-item__item-title">Dilwale Dulhania Le Jayenge</h3>
                        <p className="main-content-container-item__genres">Comedy / Drama</p>
                        <p className="main-content-container-item__rating">{star} 8.9 </p>
                    </div>
                    <div className="main-content-container-item">
                        <img src="https://image.tmdb.org/t/p/w154/1yeVJox3rjo2jBKrrihIMj7uoS9.jpg" style={{ width: "127px", height: "190px" }} />
                        <h3 className="main-content-container-item__item-title">Dilwale Dulhania Le Jayenge</h3>
                        <p className="main-content-container-item__genres">Comedy / Drama</p>
                        <p className="main-content-container-item__rating">{star} 8.9 </p>
                    </div>
                    <div className="main-content-container-item">
                        <img src="https://image.tmdb.org/t/p/w154/1yeVJox3rjo2jBKrrihIMj7uoS9.jpg" style={{ width: "127px", height: "190px" }} />
                        <h3 className="main-content-container-item__item-title">Dilwale Dulhania Le Jayenge</h3>
                        <p className="main-content-container-item__genres">Comedy / Drama</p>
                        <p className="main-content-container-item__rating">{star} 8.9 </p>
                    </div>
                    <div className="main-content-container-item">
                        <img src="https://image.tmdb.org/t/p/w154/1yeVJox3rjo2jBKrrihIMj7uoS9.jpg" style={{ width: "127px", height: "190px" }} />
                        <h3 className="main-content-container-item__item-title">Dilwale Dulhania Le Jayenge</h3>
                        <p className="main-content-container-item__genres">Comedy / Drama</p>
                        <p className="main-content-container-item__rating">{star} 8.9 </p>
                    </div>
                    <div className="main-content-container-item">
                        <img src="https://image.tmdb.org/t/p/w154/1yeVJox3rjo2jBKrrihIMj7uoS9.jpg" style={{ width: "127px", height: "190px" }} />
                        <h3 className="main-content-container-item__item-title">Dilwale Dulhania Le Jayenge</h3>
                        <p className="main-content-container-item__genres">Comedy / Drama</p>
                        <p className="main-content-container-item__rating">{star} 8.9 </p>
                    </div>
                    <div className="main-content-container-item">
                        <img src="https://image.tmdb.org/t/p/w154/1yeVJox3rjo2jBKrrihIMj7uoS9.jpg" style={{ width: "127px", height: "190px" }} />
                        <h3 className="main-content-container-item__item-title">Dilwale Dulhania Le Jayenge</h3>
                        <p className="main-content-container-item__genres">Comedy / Drama</p>
                        <p className="main-content-container-item__rating">{star} 8.9 </p>
                    </div>
                    <div className="main-content-container-item">
                        <img src="https://image.tmdb.org/t/p/w154/1yeVJox3rjo2jBKrrihIMj7uoS9.jpg" style={{ width: "127px", height: "190px" }} />
                        <h3 className="main-content-container-item__item-title">Dilwale Dulhania Le Jayenge</h3>
                        <p className="main-content-container-item__genres">Comedy / Drama</p>
                        <p className="main-content-container-item__rating">{star} 8.9 </p>
                    </div>
                    <div className="main-content-container-item">
                        <img src="https://image.tmdb.org/t/p/w154/1yeVJox3rjo2jBKrrihIMj7uoS9.jpg" style={{ width: "127px", height: "190px" }} />
                        <h3 className="main-content-container-item__item-title">Dilwale Dulhania Le Jayenge</h3>
                        <p className="main-content-container-item__genres">Comedy / Drama</p>
                        <p className="main-content-container-item__rating">{star} 8.9 </p>
                    </div>
                    <div className="main-content-container-item">
                        <img src="https://image.tmdb.org/t/p/w154/1yeVJox3rjo2jBKrrihIMj7uoS9.jpg" style={{ width: "127px", height: "190px" }} />
                        <h3 className="main-content-container-item__item-title">Dilwale Dulhania Le Jayenge</h3>
                        <p className="main-content-container-item__genres">Comedy / Drama</p>
                        <p className="main-content-container-item__rating">{star} 8.9 </p>
                    </div>
                    <div className="main-content-container-item">
                        <img src="https://image.tmdb.org/t/p/w154/1yeVJox3rjo2jBKrrihIMj7uoS9.jpg" style={{ width: "127px", height: "190px" }} />
                        <h3 className="main-content-container-item__item-title">Dilwale Dulhania Le Jayenge</h3>
                        <p className="main-content-container-item__genres">Comedy / Drama</p>
                        <p className="main-content-container-item__rating">{star} 8.9 </p>
                    </div> */}