.modal-backdrop {
    // &.show{
    //     opacity: 0;
    // }
    position: fixed;
    top: 0;
    left: 0;
    // z-index: 1040; 
    z-index: -1;
    width: 100vw;
    height: 100vh;
    background-color: #000;
}
.carousel-control-next-icon, .carousel-control-prev-icon {
    display: none;
    width: 20px;
    height: 20px;
    background: no-repeat 50%/100% 100%;
}

.carousel-indicators li {
    box-sizing: content-box;
    flex: 0 1 auto;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 3px;
    margin-left: 3px;
    text-indent: -999px;
    cursor: pointer;
    background-color: transparent;
    background-clip: padding-box;
    border: 3px solid whitesmoke;
    opacity: .5;
    transition: opacity .6s ease;
   
}
.carousel-indicators .active {
    box-sizing: content-box;
    flex: 0 1 auto;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 3px;
    margin-left: 3px;
    text-indent: -999px;
    cursor: pointer;
    background-color: white;
    background-clip: padding-box;
    border: 3px solid whitesmoke;
    opacity: .5;
    transition: opacity .6s ease;
   
}
.main-content-content .carousel-indicators{
    display: none;
}
@media (min-width: 768px) {
    .col-sm-12 {
      width: 100%;
    }
  }
@media (min-width: 576px) {
    .col-sm-4 {
      flex: 0 0 100%;
      max-width: 100%;
    }
  }
.carousel-caption{
  z-index: 0;
}