$primary-color: linear-gradient(165deg, rgba(37,20,49,1) 0%, rgba(22,17,48,1) 22%);
$secondary-color: #EB4E7A;
$tertiary-color: #1C262B;

$primary-font-color: #fff;
$secondary-font-color: rgba(255, 255, 255, .9);

$primary-font: 'Roboto', sans-serif;
$secondary-font: 'Lato', sans-serif;
$tertiary-font: 'Alegreya Sans', sans-serif;