.trailer-container {
  overflow: hidden;
  iframe {
    border: none;
    height: 200px;
    width: 280px;
  }
  .container-fluid {
    width: 100%;
    padding-right: 0px;
    padding-left: 1px;
    margin-right: auto;
    margin-left: auto;
  }
  position: relative;
  ul.react-multi-carousel-track {
    transform: translate3d(0px, 0px, 0px);
}
}
