@import "../../styles/variables";

.main-footer {
  background: #131517;
  color: $primary-font-color;
  font-family: $primary-font;
  font-size: 0.9rem;
  padding: 2rem;
  &-top {
    &-header {
      font-size: 1rem;
      margin-bottom: 2rem;

      &__title {
        font-family: $tertiary-font;
        letter-spacing: 0.4rem;
        text-transform: uppercase;
      }

      &-nav {
        margin-left: 85px;
        align-items: center;
        display: grid;
        grid-template-columns: repeat(3, 70px);
      }
    }

    &-item {
      display: grid;
      grid-template-columns: 1fr 1fr;
      svg {
        width: 20px;
        height: 20px;
      }
      &__title {
        color: rgba(255, 255, 255, 0.7);
        font-size: 0.9rem;
        font-weight: normal;
      }
    }

    &-copyright {
      color: rgba(255, 255, 255, 0.7);
      line-height: 1.5rem;
      margin-top: 2rem;
    }
  }
  &-middle {
    .hideOnMobile {
      margin-left: 155px;
      margin-top: 4px;
      p {
        font-size: 16px;
        margin-left: -15px;
      }
      .linePartner {
        margin-bottom: 15px;
        padding-left: 0;
        padding-right: 0;

        .iconConnect {
          border-radius: 50%;
          height: 30px;
          width: 30px;
          margin-right: 15px;
        }
      }
    }
  }
  &-bottom {
    align-items: center;
    display: grid;
    grid-template-columns: 110px 1fr;
    margin-top: 1rem;

    &-section-1 {
      height: auto;
      width: 110px;
    }

    &-section-2 {
      text-align: right;
      margin-right: 20px;

      &__icon {
        background-color: rgba(255, 255, 255, 0.7);
        border-radius: 50%;
        height: auto;
        margin: 0 10px;
        padding: 5px;
        transition: background-color 0.4s;

        &:hover {
          background-color: rgba(255, 255, 255, 1);
          transition: background-color 0.4s;
        }
      }
    }
  }

  a,
  a:active,
  a:hover,
  a:visited {
    color: inherit;
    text-decoration: none;
  }
}
@media (max-width: 1180px) {
  .hideOnMobile {
    display: none !important;
  }
}
@media only screen and (min-width: 500px) {
  .main-footer {
    padding: 4rem;

    &-top {
      &-header {
        display: grid;
        grid-template-columns: 200px 200px;
        &-nav {
          margin-left: -200px;
          margin-top: 60px;
        }
      }
    }

    &-bottom {
      &-section-2 {
        &__icon {
          padding: 8px;
          width: 25px;
        }
      }
    }
  }
}

@media only screen and (min-width: 1050px) {
  .main-footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 4rem;
    padding: 7rem;
    &-top-header-nav {
      margin-left: 85px;
      margin-top: auto;
    }
    &-bottom {
      grid-template-columns: 1fr;
      justify-items: right;

      &-section-1 {
        align-self: flex-start;
        width: 190px;
      }

      &-section-2 {
        align-self: flex-start;
        &__icon {
          width: 41px;
        }
      }
    }
  }
}

@media only screen and (min-width: 1400px) {
  .main-footer {
    padding: 10rem 12rem;
    padding-top: 60rem;

  }
}
@media only screen and (max-width: 1400px) {
  .main-footer {
    padding-top: 60rem;

  }
}
@media only screen and (max-width: 450px) {
  .main-footer-bottom-section-2__icon {
    height: 20px;
  }
}
.glitch1 {
  font-size: 11px;
}
.glitch1::before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  left: 39px;
  text-shadow: -2px 0 #ff00c1;
  /* Creates an initial clip for our glitch. This works in
  a typical top,right,bottom,left fashion and creates a mask
  to only show a certain part of the glitch at a time. */
  clip: rect(44px, 450px, 56px, 0);
  /* Runs our glitch-anim defined below to run in a 5s loop, infinitely,
  with an alternating animation to keep things fresh. */
  animation: glitch-anim 5s infinite linear alternate-reverse;
}
.glitch1::after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  left: 15px;
  text-shadow: -2px 0 #00fff9, 2px 2px #ff00c1;
  animation: glitch-anim2 10s infinite linear alternate-reverse;
}
@keyframes glitch-anim {
  0% {
    clip: rect(67px, 9999px, 75px, 0);
    transform: skew(0.5deg);
  }
  5% {
    clip: rect(72px, 9999px, 52px, 0);
    transform: skew(0.37deg);
  }
  10% {
    clip: rect(10px, 9999px, 79px, 0);
    transform: skew(0.84deg);
  }
  15% {
    clip: rect(3px, 9999px, 16px, 0);
    transform: skew(0.59deg);
  }
  20% {
    clip: rect(47px, 9999px, 2px, 0);
    transform: skew(0.16deg);
  }
  25% {
    clip: rect(60px, 9999px, 59px, 0);
    transform: skew(0.19deg);
  }
  30% {
    clip: rect(98px, 9999px, 52px, 0);
    transform: skew(0.61deg);
  }
  35% {
    clip: rect(63px, 9999px, 75px, 0);
    transform: skew(0.39deg);
  }
  40% {
    clip: rect(51px, 9999px, 76px, 0);
    transform: skew(0.11deg);
  }
  45% {
    clip: rect(51px, 9999px, 89px, 0);
    transform: skew(0.8deg);
  }
  50% {
    clip: rect(96px, 9999px, 26px, 0);
    transform: skew(0.54deg);
  }
  55% {
    clip: rect(96px, 9999px, 41px, 0);
    transform: skew(0.82deg);
  }
  60% {
    clip: rect(20px, 9999px, 44px, 0);
    transform: skew(0.75deg);
  }
  65% {
    clip: rect(79px, 9999px, 1px, 0);
    transform: skew(0.55deg);
  }
  70% {
    clip: rect(44px, 9999px, 54px, 0);
    transform: skew(0.7deg);
  }
  75% {
    clip: rect(59px, 9999px, 39px, 0);
    transform: skew(0.91deg);
  }
  80% {
    clip: rect(64px, 9999px, 91px, 0);
    transform: skew(0.89deg);
  }
  85% {
    clip: rect(96px, 9999px, 5px, 0);
    transform: skew(0.86deg);
  }
  90% {
    clip: rect(72px, 9999px, 89px, 0);
    transform: skew(0.33deg);
  }
  95% {
    clip: rect(40px, 9999px, 18px, 0);
    transform: skew(0.36deg);
  }
  100% {
    clip: rect(95px, 9999px, 21px, 0);
    transform: skew(0.51deg);
  }
}
@keyframes glitch-anim2 {
  0% {
    clip: rect(70px, 9999px, 48px, 0);
    transform: skew(0.79deg);
  }
  5% {
    clip: rect(51px, 9999px, 98px, 0);
    transform: skew(0.16deg);
  }
  10% {
    clip: rect(18px, 9999px, 82px, 0);
    transform: skew(0.3deg);
  }
  15% {
    clip: rect(3px, 9999px, 57px, 0);
    transform: skew(0.87deg);
  }
  20% {
    clip: rect(23px, 9999px, 72px, 0);
    transform: skew(0.22deg);
  }
  25% {
    clip: rect(41px, 9999px, 75px, 0);
    transform: skew(0.84deg);
  }
  30% {
    clip: rect(16px, 9999px, 57px, 0);
    transform: skew(0.95deg);
  }
  35% {
    clip: rect(91px, 9999px, 9px, 0);
    transform: skew(0.44deg);
  }
  40% {
    clip: rect(57px, 9999px, 39px, 0);
    transform: skew(0.93deg);
  }
  45% {
    clip: rect(47px, 9999px, 77px, 0);
    transform: skew(0.43deg);
  }
  50% {
    clip: rect(15px, 9999px, 81px, 0);
    transform: skew(0.26deg);
  }
  55% {
    clip: rect(97px, 9999px, 83px, 0);
    transform: skew(0.88deg);
  }
  60% {
    clip: rect(97px, 9999px, 8px, 0);
    transform: skew(0.28deg);
  }
  65% {
    clip: rect(93px, 9999px, 88px, 0);
    transform: skew(0.19deg);
  }
  70% {
    clip: rect(86px, 9999px, 7px, 0);
    transform: skew(0.5deg);
  }
  75% {
    clip: rect(96px, 9999px, 32px, 0);
    transform: skew(0.07deg);
  }
  80% {
    clip: rect(44px, 9999px, 82px, 0);
    transform: skew(0.92deg);
  }
  85% {
    clip: rect(75px, 9999px, 34px, 0);
    transform: skew(0.48deg);
  }
  90% {
    clip: rect(92px, 9999px, 80px, 0);
    transform: skew(0.8deg);
  }
  95% {
    clip: rect(45px, 9999px, 44px, 0);
    transform: skew(0.5deg);
  }
  100% {
    clip: rect(6px, 9999px, 43px, 0);
    transform: skew(0.11deg);
  }
}
@keyframes glitch-skew {
  0% {
    transform: skew(5deg);
  }
  10% {
    transform: skew(0deg);
  }
  20% {
    transform: skew(2deg);
  }
  30% {
    transform: skew(5deg);
  }
  40% {
    transform: skew(-2deg);
  }
  50% {
    transform: skew(-1deg);
  }
  60% {
    transform: skew(-4deg);
  }
  70% {
    transform: skew(3deg);
  }
  80% {
    transform: skew(2deg);
  }
  90% {
    transform: skew(-3deg);
  }
  100% {
    transform: skew(1deg);
  }
}
@media only screen and (max-width: 430px) {
  .glitch1 {
    font-size: 9px;
  }
}
