.gallery {
  position: relative;
}
.gallery-hide {
  display: none;
}
canvas {
  position: absolute;
}
.hide {
  display: none;
}
@media only screen and (max-width: 500px) {
  .canvasGallery {
    display: none;
  }
}
nav.link-list {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  top: 570px;
  display: inline-block;
}
nav.link-list li {
  overflow: hidden;
  float: left;
}
nav.link-list a {
  position: relative;
  width: 12px;
  height: 12px;
  margin: 5px;
  display: inline-block;
  border-radius: 50%;
  background-color: #fff;
  transition: background-color 0.5s ease;
}
nav.link-list a.is-active {
  background-color: #c8a36c;
}

nav.btns {
  position: relative;
  top: 318%;
  width: 100%;
}
nav.btns button {
  position: absolute;
  display: inline-block;
  width: 44px;
  height: 44px;
  text-align: center;
  line-height: 44px;
  font-weight: bold;
  font-size: 10px;
  font-family: serif;
  border-radius: 50%;
  background-color: #fff;
  cursor: pointer;
  border: 0;
  transition: all 0.5s ease;
}
nav.btns button:focus {
  outline: 0;
}
nav.btns button:before {
  content: "";
  position: absolute;
  width: 44px;
  height: 44px;
  top: 0;
  left: 0;
  border: 2px solid #c8a36c;
  border-radius: 50%;
  opacity: 0;
  transition: all 0.5s ease;
}
nav.btns button span {
  opacity: 0;
  transition: opacity 0.2s ease;
}
nav.btns button:hover {
  background-color: #c8a36c;
  width: 64px;
  height: 64px;
  transform: translateY(-10px);
}
nav.btns button:hover:before {
  opacity: 1;
  width: 104px;
  height: 104px;
  top: -22px;
  left: -22px;
}
nav.btns button:hover span {
  opacity: 1;
}
nav.btns button.show-prev {
  left: 8%;
  bottom: -380px;
}
nav.btns button.show-next {
  right: 8%;
  bottom: -380px;
}
@media only screen and (max-width: 500px) {
  .gallery {
    display: none;
  }
}
//   footer {
//     position: absolute;
//     bottom: 10px;
//     right: 10px;
//     font-family: sans-serif;
//     color: #ccc;
//     font-size: 12px;
//     line-height: 12px;
//   }
//   footer a {
//     color: inherit;
//   }

// .loading-txt {
//   text-align: center;
//   width: 100%;
//   font-size: 24px;
//   position: absolute;
//   top: 50%;
//   transform: translateY(-50%);
// }
// .loading-txt.is-hidden {
//   display: none;
// }
.info {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 9999999;
  margin: 1.5rem;
}
//   @import url(https://fonts.googleapis.com/css?family=Montserrat:700);
//   *, *::before, *::after {
//       box-sizing: border-box;
//       padding: 0;
//       margin: 0;
//       border: 0;
//   }
//   html {
//       font-size: 10px;
//       font-size: calc(5px + 0.4vw);
//   }
//   body {
//       font-family: 'Montserrat', sans-serif;
//     font-weight: 700;
//       font-size: 1rem;
//       color: #fff;
//   }
//   a {
//     text-decoration: none;
//     color: rgba(225, 255, 255, .8);
//   }
/* Slider style */
.cd-slider {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
.cd-slider.ie9 nav div span {
  display: none;
}
.cd-slider ul li {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  transition: visibility 0s 0.6s;
}
.cd-slider ul li::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 100%;
  width: 135vh;
  height: 135vh;
  border: solid rgba(0, 0, 0, 0.2);
  border-width: 0;
  transform: translate(-50%, -50%);
  pointer-events: none;
  transition: border-width 0.4s 0.6s;
}
.content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-position: 50% 100%;
  background-size: auto 100%;
  background-repeat: no-repeat;
  mix-blend-mode: lighten;
  opacity: 0;
  transform: scale(1.2);
  transition: opacity 0.4s 0.6s, transform 0.4s 0.6s;
}
.content blockquote {
  position: absolute;
  bottom: 5%;
  left: 4%;
  z-index: 2;
  max-width: 45%;
}
blockquote p {
  font-size: 3rem;
  margin-bottom: 2rem;
}
blockquote span {
  font-size: 1.4rem;
}
/* current slide
  ---------------------------------*/
.cd-slider li.current_slide {
  visibility: visible;
}
.cd-slider li.current_slide::before {
  border-width: 16rem;
}
.cd-slider li.current_slide .content {
  opacity: 1;
  transform: scale(1);
}
/* nav
  ---------------------------------*/
.gallery-arrow {
  position: absolute;
  top: 50%;
  left: 4%;
  width: 5rem;
  height: 5rem;
  margin-top: -2.5rem;
  list-style: none;
}
.gallery-arrow-2 {
  left: auto;
  right: 4%;
}
.prev,
.next {
  position: relative;
  z-index: 100;
  width: 100%;
  height: 100%;
  display: block;
  border-radius: 100%;
  transition: box-shadow 0.3s;
}
.prev::before,
.prev::after,
.next::before,
.next::after {
  content: "";
  position: absolute;
  left: 43%;
  background: #fff;
  width: 0.4rem;
  min-width: 3px;
  border-radius: 3px;
  height: 34%;
}
.prev::before {
  transform: rotate(45deg);
  top: 24%;
}
.prev::after {
  transform: rotate(-45deg);
  bottom: 24%;
}
.next::before,
.next::after {
  left: auto;
  right: 43%;
}
.next::before {
  transform: rotate(-45deg);
  top: 24%;
}
.next::after {
  transform: rotate(45deg);
  bottom: 24%;
}
.prev:hover,
.next:hover {
  box-shadow: 0 0 0 1rem rgba(0, 0, 0, 0.15);
}
nav > div > span {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  border-radius: 100%;
  z-index: 5;
  pointer-events: none;
  will-change: width, height;
  transform: translate(-50%, -50%);
  transition: width 0.6s, height 0.6s;
}
