.home-container  .item-controller__switch {
    background: none;
    border: none;
    background-image: linear-gradient(90deg, rgba(255, 86, 132, 0.4) 0%, rgba(83, 50, 201, 0.4) 68%), linear-gradient(90deg, rgba(255, 86, 132, 0.4) 0%, rgba(83, 50, 201, 0.4) 68%);
    border-image-slice: 1;
    border-left: 3px solid rgba(255, 86, 132, 0.4);
    border-right: 3px solid rgba(83, 50, 201, 0.4);
    border-radius: 10px;
    background-position: 0 0, 0 100%;
    background-repeat: no-repeat;
    background-size: 100% 3px;
    color: #fff;
    cursor: pointer;
    display: block;
    font-family: "Alegreya Sans", sans-serif;
    font-weight: bold;
    letter-spacing: .4rem;
    outline: none;
    padding: .2rem;
    text-transform: uppercase;
}
.home-container .item-controller-content{
display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 50px;
    grid-column-gap: 10px;
    margin: 0 auto;
    padding-top: 2rem;
    width: 90%;
}