@import '../../styles/variables';

.home-container {
  background: $primary-color;

  .item-controller-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 50px;
    grid-column-gap: 10px;
    margin: 0 auto;
    padding-top: 2rem;
    width: 90%;

    &__switch {
      background: none;
      border: none;
      background-image: linear-gradient(90deg, rgba(255,86,132,.4) 0%, rgba(83,50,201,.4) 68%),linear-gradient(90deg, rgba(255,86,132,.4) 0%, rgba(83,50,201,.4) 68%);
      border-image-slice: 1;
      border-left: 3px solid rgba(255,86,132,.4);
      border-right: 3px solid rgba(83,50,201,.4);
      border-radius: 10px;
      background-position: 0 0, 0 100%;
      background-repeat: no-repeat;
      background-size: 100% 3px;
      color: $primary-font-color;
      cursor: pointer;
      display: block;
      font-family: $tertiary-font;
      font-weight: bold;
      letter-spacing: 0.4rem;
      outline: none;
      padding: 0.2rem;
      text-transform: uppercase;
    }
  }
}

@media only screen and (min-width: 500px) {
  .home-container {

    .item-controller-content {
      padding-top: 4rem;
    }

    .main-content-container{
      padding: 2rem;
    }
  }
}

@media only screen and (min-width: 900px) {
  .home-container {

    .item-controller-content {
      margin: 2rem auto 1rem;
      max-width: 77%;
    }

    .main-content-container {
      padding: 2rem 4rem;
      margin: 0 auto;
      max-width: 80%;
    }
  }
}
