@import './styles/variables';
@import './styles/animations';
// @import './styles/reset';

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  line-height: 1.5;
}

*::selection {
  background: $secondary-color;
}
